@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-k2d: K2D;
  --paragraph: Roboto;

  /* font sizes */
  --h4-size: 20px;
  --h5-size: 16px;
  --input-text-size: 12px;
  --paragraph-size: 14px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --h3-size: 25px;
  --h6-size: 13px;
  --font-size-3xl: 22px;

  /* Colors */
  --white: #fff;
  --gray: #f5f5f5;
  --black: #3e3232;
  --black-75: rgba(62, 50, 50, 0.75);
  --black-50: rgba(62, 50, 50, 0.5);
  --stroke: #e6e6e6;
  --primary: #f81539;
  --dark-75: rgba(0, 0, 0, 0.75);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-75: rgba(255, 255, 255, 0.75);
  --dark: #000;
  --secondary: #fc4308;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-60xl: 79px;
  --gap-20xl: 39px;
  --gap-8xs: 5px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-6xl: 25px;
  --gap-lg: 18px;
  --gap-5xs: 8px;
  --gap-49xl: 68px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-12xs-5: 0.5px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-4xs-5: 8.5px;
  --padding-6xs-5: 6.5px;
  --padding-187xl: 206px;
  --padding-115xl: 134px;
  --padding-xl: 20px;
  --padding-2xs: 11px;
  --padding-11xl: 30px;
  --padding-62xl: 81px;
  --padding-mini: 15px;
  --padding-12xs: 1px;
  --padding-46xl: 65px;
  --padding-159xl: 178px;
  --padding-11xs-5: 1.5px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-31xl: 50px;

  /* Effects */
  --shadow: 0px 0px 32px rgba(0, 0, 0, 0.07);
}
